.footer-box-bakg{
    color: aliceblue;
    height: 30vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    line-height: 2.5rem;
}